
@{
    ViewData["Title"] = "viewAdmin";
}

<h1>Admin Page</h1>


<style>
    img {
        border-radius: 50%;
    }

    body {
        /*background-image: url("https://media.giphy.com/media/3xz2BVxzjZVnGdgGVW/giphy.gif");*/
        background-image: url("https://media.giphy.com/media/3ohhwG7FRGsIIYRzEI/giphy.gif");
        background-color: #cccccc;
    }
</style>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Admin" asp-action="Index1">Change Category Activity</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="AllItms">Download  All items</a></li>

    </ul>
</div>

