
@model SaleOfAgriculturalProduct.Data.Product
<div class="text-left" style="color:navy;" id="borderimg">
    <address>

        @Html.DisplayNameFor(model => model.FirstName):@Html.DisplayFor(model => model.FirstName) <br>
        @Html.DisplayNameFor(model => model.LastName):@Html.DisplayFor(model => model.LastName)<br>
        @Html.DisplayNameFor(model => model.FhoneNamber):@Html.DisplayFor(model => model.FhoneNamber)<br>
        @Html.DisplayNameFor(model => model.Adress):@Html.DisplayFor(model => model.Adress)<br>
    </address>
</div>
